<h1>Edit this Food</h1>

<%= form_for @food do |f| %>
    <%= f.label "Name" %><br>
    <%= f.text_field :name %><br>
    <%= f.label "Description"%><br>
    <%= f.text_field :description%><br>
    <%= f.submit %>
<% end %>
